* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}

#nav {
    background-color:lightpink;
    padding-bottom: 10px;
}

#ann {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}

#about {
    padding-top: 20px;
}

h3 {
    text-align: center;
}

.project1 {
    flex-grow: 2;
    text-decoration: none;
}

.project2 {
    flex-grow: 1;
    text-decoration: none;
}

.project3 {
    flex-grow: 1;
}

.project4 {
    flex-grow: 1;
}

.project1 img {
    flex: 2 1 1;
    display: block;
    margin: 10px auto;
    max-width: 700px;
    max-height: 700px;
    border-radius: 8px;
}

.project2 img {
    flex: 1 1 1;
    display: block;
    margin: 10px auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 8px;
}

.project3 img {
    flex: 1 1 1;
    display: block;
    margin: 10px auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 8px;
}

.project4 img {
    flex: 1 1 1;
    display: block;
    margin: 10px auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 8px;
}

.footer {
    position: fixed;
    padding: 100px;
}

h4 {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .main {
      width: 50%;
    }
    header {
        background: lightcoral;
    }
    .start {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
    header {
        background: rosybrown;
    }
    .start {
        width: 100%;
        font-size: 15px;
    }
}

